*{
    padding: 0;
    margin: 0;
}
body {
    background: #333;
	font-family: Futura, "Century Gothic", AppleGothic, sans-serif;
	overflow: hidden;
}
.littleBoxs{
    width: 620px;
    margin: 50px auto;
    position: relative;
}
.littleBoxs div{
    width: 150px;
    position: absolute;
    text-align: center;
    border: 2px solid white;
    overflow: hidden;
    z-index: 999;
    box-shadow: 0px 0px 3px #555;
}
.littleBoxs div a{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    outline: none;
    text-align: center;
    color: black;
    line-height: 150px;
    text-shadow: 3px 3px 3px #888;
    background-color: pink;
    display: block;
    box-shadow: 1px 1px 3px #777;
}
.littleBoxs div.boxcontent{
    width: 600px;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    background: pink;
    border: 2px #fff solid;
    margin: 10px auto 0 auto;
    text-shadow: 2px 2px 3px #fff;
    box-shadow: 2px 2px 3px pink;
    opacity: 0.5;
    display: none;
    position: relative;
}
.bg1{
    background-image: url(../img/lisa1.jpg);
    background-position: -384px -300px;
}
.bg2{
    background-image: url(../img/lisa2.jpg);
    background-position: -384px -200px;
    
}
.bg3{
    background-image: url(../img/lisa3.jpg);
    background-position: -384px -250px;
}
.bg4{
    background-image: url(../img/lisa4.jpg);
    background-position: -384px -260px;
}
.bg1 , .bg2 , .bg3, .bg4{
    background-repeat: no-repeat;
}
.bg5{
    height: 150px;
    width: 150px;
    background: url(../img/lisa5.jpg)
}